hr{
    width: 500px;
    margin-left: 0px;
}
.marginborder1{
    width: 500px;
    background-color: aqua;
    border: 5px solid red;
    padding: 40px;
    box-sizing: border-box;
}
.marginborder2{
    width: 500px;
    background-color: aquamarine;
    border: 5px solid blue;
    padding: 30px;
    margin-top: 30px;
    box-sizing: border-box

}